body {
  background-color: #9FA4A9;
  height: 100% !important;
  background-repeat: no-repeat;
}

#header {
  background-color: #2F0147;
}

#banner {
  margin-left: 2%;
  margin-top: 2%;
  color: #E9E3E6;
}

.center {
  text-align: center;
}

hr {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  text-align: center;
  align: center;
  /*width: 75%;*/
}
